<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Title -->
    <title>Jannuzi: Criação e Desenvolvimento de Sites e Ecommerces profissionais!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Desenvolvimento de Sites e ECommerce profissionais">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="canonical" href="https//www.jdms.com.br">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
  </head><!--clflare normal com !-->
  <body>
      <header id="start" class="">
        <div data-aos="fade-down" class="pcontainer">
          <h1 id="start1" class="text1">Jannuzi</h1>
          <nav id="nav">
            <button id="btn-mobile" class="btnnj">
              Menu
              <span id="hmb"></span>
            </button>
            <ul id="nvb" class="navbarp">
              <li><a class="x" href="#">Planos</a></li>
              <li><a class="x" href="#">Sobre</a></li>
              <li><a class="x" href="#">Contato</a></li>
              <li><a class="x" href="#">Tecnologias</a></li>
            </ul>  
          </nav>
        </div>
      </header>
      <main>
        <section class="principal bg-common">
          <div class="grid-container">
            <div class="swiper-container">
            <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
              <!-- Slides -->
                <div class="swiper-slide">
                  <div class="teste-container">
                    <div><h1>SALVEEEE</h1></div>
                    <div><p>Soluções incríveis com muita rapidez, economia e tecnologia</p></div>
                    <div><button>FALE CONOSCO</button></div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="teste-container">
                    <div><h1>SALVINHOOOO</h1></div>
                    <div><p>Soluções incríveis com muita rapidez, economia e tecnologia</p></div>
                    <div><button>FALE CONOSCO</button></div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="teste-container">
                    <div><h1>SUAVIDADEEEE</h1></div>
                    <div><p>Soluções incríveis com muita rapidez, economia e tecnologia</p></div>
                    <div><button>FALE CONOSCO</button></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <img data-aos="fade-left" src="/images/bannersite.png" alt="Minha Figura" class="img-fluid animate__fadeInUp" style="margin-right:10px">
            </div>
          </div>
        </section>
        <section class="secundario">
          <div data-aos="fade-up" class="secundario-grid">
            <div class="frase">
              <h2>Uma <b>solução completa</b> para diferentes tipos de negócios.</h2>
              <p>Não importa qual seu nicho ou o tamanho da sua empresa, nós temos o que há de melhor em tecnologia voltada para vendas.</p>
            </div>
            <div data-aos="fade-up">
              <span class="iconify" data-icon="ant-design:desktop-outlined"></span>
              <h4>Crie sua primeira loja virtual</h4>
              <p>Tire sua ideia do papel, empreenda com todos os recursos necessários para o sucesso do seu novo negócio.</p>
              <button><a href="#"">Começar avaliação gratuita</a></button>
            </div>
            <div data-aos="fade-up">
              <span class="iconify" data-icon="ri:store-line"></span>
              <h4>Traga seu negócio para o digital</h4>
              <p>Sincronize o estoque da sua loja física e tenha seus produtos disponíveis 24 horas por dia, 7 dias por semana.</p>  
              <button><a href="#">Fale com um especialista</a></button>
            </div>
            <div data-aos="fade-up">
              <span class="iconify" data-icon="bx:bx-home-smile"></span>
              <h4>Migre sua loja virtual para a wBuy</h4>
              <p>Sincronize o estoque da sua loja física e tenha seus produtos disponíveis 24 horas por dia, 7 dias por semana.</p>
              <button><a href="#">Quero saber mais</a></button>
            </div>
          </div>
        </section>
        <section class="quadro">
          <div class="quadro-container">
            <div data-aos="fade-up" class="qd1">
              <h2>Tecnologias</h2>
            </div>
            <div data-aos="fade-up" class="qd234">
              <img src="/images/nodejs.png" alt="Node JS" style="width: 200px;">
            </div>
            <div data-aos="fade-up" class="qd234">
              <img src="/images/elementor.png" alt="Elementor" style="width: 250px;">
            </div>
            <div data-aos="fade-up" class="qd234">
              <img src="/images/wordpress.png" alt="Wordpress" style="width: 200px;">
            </div>
          </div>
        </section>
        <section class="terceiro">
          <div class="terceiro-grid">
            <div data-aos="fade-up" class="frase">
              <h2>Portfolio</h2>
              <p>São centenas de recursos disponíveis em todos os planos para você começar ou expandir seu negócio.</p>
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockeng.png" alt="1º Site do Portfolio">
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>Site Institucional</b></h4>
              <p>Controle todos os recursos da sua loja por meio de um painel completo e intuitivo. Tenha todas as informações relevantes para o seu negócio a poucos cliques de distância. Ganhe tempo com nossas ações em massa. Faça a integração da sua loja com os maiores ERPs do país. Tenha à disposição diversas ferramentas de análise e otimização.</p>
              <span>Visite o Site!</span><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>Crie a loja que sempre sonhou</b></h4>
              <p>Personalize o design da sua loja em nosso painel sem precisar digitar uma linha de código. Instale um de nossos temas gratuitos ou compre um tema em nossa loja e transforme seu site com um clique. Desenvolva um projeto exclusivo alterando o código do seu layout. Na wBuy você tem liberdade para escolher o que mais combina com seu perfil de lojista.</p>
              <span>Visite o Site!</span><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockup.png" alt="2º Site do Portfolio">
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockup.png" alt="3º Site do Portfolio">
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>Otimize seu processo de venda</b></h4>
              <p>Integre sua loja aos maiores intermediadores de pagamento do mercado. Venda mais com a ajuda dos nossos diversos recursos nativos e mais centenas de opções de aplicativos disponíveis. Trabalhe de forma prática com vendedores, afiliados e influenciadores. Simplifique seu pós-venda com a área do cliente.</p>
              <span>Visite o Site!</span><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>Descomplique sua operação logística</b></h4>
              <p>Tenha autonomia para trabalhar com diversas transportadoras de todo o Brasil. Economize usando um dos comparadores de preço integrados. Agilize seu fluxo de envios gerando automaticamente etiquetas de envio e declarações de conteúdo. Personalize sua operação oferecendo delivery, retirada, frete grátis e muito mais.</p>
              <span>Visite o Site!</span><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockup.png" alt="4º Site do Portfolio">
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockup.png" alt="5º Site do Portfolio">
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>Loja de aplicativos</b></h4>
              <p>Além das centenas de recursos nativos já integrados em sua loja virtual, você ainda pode instalar diversas soluções adicionais em atendimento, experiência do cliente, gestão, logística, marketing e vendas.</p>
              <span>Visite o Site!</span><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div class="lastfrase">
              <button style="font-size: 17px; font-family: 'Poppins', sans-serif; background-color:#ed3237; width: 300px; height: 40px; border: none; border-radius: 20px"><a href="#" style="text-decoration:none; color:white">Começar avaliação gratuita</a></button>  
            </div>
          </div>
        </section>
      </main>
      <footer>
        aa
      </footer>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/d6c646f52a.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
      <script src="/javascripts/script.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
      <script>
        const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        speed: 1000,
          
        autoplay: {
        delay: 5000,
        },
    
        effect: 'fade',
        fadeEffect: {
        crossFade: true
        },
        });  
        </script>
      <script>
        AOS.init();
      </script>
  </body>
</html>