<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Title -->
    <title>Jetcontent: Criação e Desenvolvimento de Sites e Ecommerces profissionais!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Desenvolvimento de Sites e ECommerce profissionais">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="canonical" href="https//www.jdms.com.br">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-41MX0JQERH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-41MX0JQERH');
    </script>
  </head>
  <body>
      <header>
        <div data-aos="fade-down" class="hd-container">
          <div>
            <a href="/"><img class="logo" src="/images/jetcontentp.svg"> </a>
          </div>
          <div>
            <nav id="nav">
              <button id="btn-mobile" class="btnnj">
                <span id="hmb"></span>
              </button>
              <ul id="nvb" class="navbarp">
                <li><a href="#">Ecommerce</a></li>
                <li><a href="#">Chatbot</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Tecnologias</a></li>
              </ul>  
            </nav>
          </div>
        </div>
      </header>
      <main>
        <section class="bg-common">
            <div class="swiper-container">
              <div class="swiper-wrapper">
              <!-- Slides -->
                <div class="swiper-slide">
                  <div data-aos="fade-up" class="slide">
                    <!-- alterado -->
                    <h1><u>Converta mais clientes</u> com conversas automatizadas</h1>
                    <br><p>Engaje sua audiência de <u>forma natural</u>!
                    <br>Aumente sua conversão e melhore o relacionamento com o cliente!</p>
                    <button><a href="#">Quero saber mais!</a></button>
                  </div>
                  <div data-aos="fade-up" style="width: 100%;
                  height: 100%; background: url('/images/bannersite.png');
                  background-size: contain;
                  background-repeat: no-repeat;" class="slide">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div id="av" style="display: none" class="slide">
                    <h1>Desenvolvimentos de Sites Otimizados para o Google</h1>
                    <p>Melhore o posicionamento de seu site na busca orgânica do Google com a Otimização de Sites(SEO).</p>
                    <button><a href="#">COMO FUNCIONA?</a></button>
                  </div>
                  <div id="av1" style="display: none; width: 100%;
                  height: 100%; background: url('/images/foguete.png');
                  background-size: contain;
                  background-repeat: no-repeat;" class="slide">
                    
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="slide">
                    <h1><b>A hora de ter um Ecommerce Profissional!</b></h1>
                    <p>Tenha uma loja virstual com todos os seus produtos expostos divididos por categorias e com todas as informações necessárias para facilitar a divulgação da sua empresa.</p>
                    <button><a href="#">Quero um Ecommerce!</a></button>
                  </div>
                  <div style="width: 100%;
                  height: 100%; background: url('/images/bannersite.png');
                  background-size: contain;
                  background-repeat: no-repeat;" class="slide">
                    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
        </section>
        <section class="fsection">
          <div class="fsection-grid">
            <div class="frase">
              <h2>Uma <b>solução completa</b> para diferentes tipos de negócios.</h2>
              <p>Não importa qual seu nicho ou o tamanho da sua empresa, nós temos o que há de melhor em tecnologia voltada para vendas.</p>
            </div>
            <div data-aos="fade-up">
              <span class="iconify" data-icon="ant-design:desktop-outlined"></span>
              <h4>Crie sua primeira loja virtual</h4>
              <p>Tire sua ideia do papel, empreenda com todos os recursos necessários para o sucesso do seu novo negócio.</p>
              <button><a href="#"">Começar avaliação gratuita</a></button>
            </div>
            <div data-aos="fade-up">
              <span class="iconify" data-icon="ri:store-line"></span>
              <h4>Traga seu negócio para o digital</h4>
              <p>Sincronize o estoque da sua loja física e tenha seus produtos disponíveis 24 horas por dia, 7 dias por semana.</p>  
              <button><a href="#">Fale com um especialista</a></button>
            </div>
            <div data-aos="fade-up">
              <span class="iconify" data-icon="bx:bx-home-smile"></span>
              <h4>Migre sua loja virtual para a wBuy</h4>
              <p>Sincronize o estoque da sua loja física e tenha seus produtos disponíveis 24 horas por dia, 7 dias por semana.</p>
              <button><a href="#">Quero saber mais</a></button>
            </div>
          </div>
        </section>
        <section class="tsection">
          <div class="tsection-grid">
            <div data-aos="fade-up" class="frase">
              <h2>Portfolio</h2>
              <p>São centenas de recursos disponíveis em todos os planos para você começar ou expandir seu negócio.</p>
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockeng.png" alt="1º Site do Portfolio">
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>Ganhe espaço online com um <U>Site Institucional</U></b></h4>
              <p>Controle todos os recursos da sua loja por meio de um painel completo e intuitivo. Tenha todas as informações relevantes para o seu negócio a poucos cliques de distância. Ganhe tempo com nossas ações em massa. Faça a integração da sua loja com os maiores ERPs do país. Tenha à disposição diversas ferramentas de análise e otimização.</p>
              <span>Visite o Site!</span><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div data-aos="fade-up" class="textcontent">
              <h4><b>O site que seu negócio precisa</b></h4>
              <p>Personalize o design da sua loja em nosso painel sem precisar digitar uma linha de código. Instale um de nossos temas gratuitos ou compre um tema em nossa loja e transforme seu site com um clique.</p>
              <a href="https://pjannuzi.github.io/"><span>Visite o Site!</span></a><span class="iconify" data-icon="akar-icons:arrow-right"></span>
            </div>
            <div class="imgmck">
              <img data-aos="fade-up" src="/images/mockeng.png" alt="1º Site do Portfolio">
            </div>
            <div class="lastfrase">
              <button style="font-size: 17px; font-family: 'Poppins', sans-serif; background-color:#ed3237; width: 300px; height: 40px; border: none; border-radius: 20px"><a href="#" style="text-decoration:none; color:white">Começar avaliação gratuita</a></button>  
            </div>
          </div>
        </section>
      </main>
      <footer>
      </footer>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/d6c646f52a.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
      <script src="/javascripts/script.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
      <script>
        const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        speed: 1000,
          
        autoplay: {
        delay: 10000,
        },
    
        effect: 'fade',
        fadeEffect: {
        crossFade: true
        },
        });  
        </script>
      <script>
        AOS.init();
      </script>
  </body>
</html>