/* Body  */

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;;
}

/* Cores */

.bg-common {
  background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(43,16,88,1) 70%, rgba(38,2,83,0.7049194677871149) 100%);
  height: 96vh;
}

/* Header Comum */
  
header {
  width: 100%;
  height: 100px;
  position: absolute;
  transition: all .25s ease;
}
.hd-container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  height: 100px;
}
#logo {
  width: 250px;
  float: left;
  position: relative;
  top: 25px;
}
#nvb {
  transition: all .25s ease;
  font-weight: 600;
  color: white;
  display: flex;
}
.navbarp {
  list-style-type: none;
  float: right;
  padding-top: 40px;
  text-align: center;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li {
  padding-left: 40px;
}

/* Menu Mobile */

#btn-mobile {
  display: none;
  float: right;
  margin-right: 20px;
}
.btnnj {
  color: white;
  margin-top: 36px;
}
.btn-mobile {
  margin-top: 15px;
  color: black;
}

/* Slide */
.swiper-container {
  margin-right: 10vw;
  margin-left: 10vw;
  width: 80vw;
  color: white;
  height: 90vh;
  top: 100px;
}
.slide {
  align-self: center;
}
.swiper-slide {
  display: grid;
  grid-template-columns: 35vw 45vw;
  grid-template-rows: 80vh;
}
.swiper-slide a {
  text-decoration:none;
  color:white
}
.swiper-slide button {
  background-color: transparent;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 40px;
  display: inline-block;
  font-size: 0.9vw;
  transition: all .25s ease;
  border: 1px solid white;
  margin-top: 50px;
}

/* Primeira Section */

.fsection{
  height: 560px;
  color:black;
}
.fsection-grid {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 150px 350px;
  grid-template-areas: "a a a"
                      "b c d";
  padding-top: 100px;
  margin-left: 15vw;
  margin-right: 15vw;
  column-gap: 85px;
}
.frase {
  justify-self: center;
  text-align: center;
  grid-area: a;
}
.fsection h4{
  font-family: 'Poppins',sans-serif;
  font-size: 20px;
}
.fsection svg {
  font-size:40px;
  margin-bottom:10px;
}
.fsection button {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  width: 250px;
  height: 30px;
  border: solid white 1px;
  border-radius: 10px;
}
.fsection a {
  text-decoration:none;
  color:white;
}

/* Segunda Section */

.ssection {
  background: white;
  height: 500px;
  background-image: linear-gradient(45deg, #F4F4F4, #FBFBFA);
  transform: skewY(-10deg);
}
.ssection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 110px;
  grid-template-areas: "a a a"
                      "b c d";
  padding-top: 120px;
  margin-left: 15vw;
  margin-right: 15vw;
  transform: skewY(11deg);
}
.qd1 {
  grid-area: a;
  justify-self: center;
}
.qd1 h2 {
  font-size: 2.2rem;
  color: rgba(43,16,88,1);
  font-weight: 300;
}
.qd234 {
  justify-self: center;
  align-self: center;
}
.ssection img {
  filter: grayscale();
  transition: .3s;
}
.ssection img:hover {
  filter:none;
}

/* Terceira Section */

.tsection{
  height: auto;
  background-color: white;
}  
.tsection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 370px 370px 370px 370px 370px 50px;
  grid-template-areas: "a a"
                      "b c"
                      "d e"
                      "f g"
                      "h i"
                      "l l";
  padding-top: 100px;
  margin-left: 15vw;
  margin-right: 15vw;
  color: black;
  column-gap: 15px;
  row-gap: 20px;
}
.imgmck {
  justify-self: center;
  align-self: center;
}
.tsection img {
  width: 400px;
 }

.textcontent {
  align-self: center;
}
.lastfrase {
  justify-self: center;
  text-align: center;
  grid-area: l;
}
.tsection span {
  color:gray;
  border-bottom:1px solid lightgray;
  padding-bottom:1px;
}
.tsection svg {
  color: gray;
  margin-left: 5px;
}














  /* MEDIA QUERIES RESPONSIVOS */
  
  @media (max-width: 768px) {
    .sec1 p:first-child {
      font-size: 20px;
    }
    .sec1 p:nth-child(2) {
      font-size: 13px;
    }
    .sec1 button {
      background-color: #ed3237ed;
      display: inline-block;
      font-size: 10px;
      transition: all .25s ease;
      border: none;
    }
    #nvb {
      background: rgba(43,16,88,1);
      visibility: hidden;
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0;
      padding-left: 0;
      padding-top: 0;
      z-index: 5000;
      height: 0px;
      overflow-y: hidden;
    }
    nav li {
      padding-left:0;
    }
    #nav.active #nvb{
      visibility: visible;
      height: 400px;
      transition: .6s;
    }
    #btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      transition: .6s;
    }
    #hmb {
      border-top: 2px solid;
      width: 20px;
      display: block;
      margin-top: 5px;
      margin-left: 10px;
    }
    #hmb::after, #hmb::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .3s;
      position: relative;
    }
    #nav.active #hmb {
      border-top-color: transparent;
    }
    #nav.active #hmb::before  {
      transform: rotate(135deg)
    }
    #nav.active #hmb::after  {
      transform: rotate(-135deg);
      top: -7px;
    }
    .fsection-grid h2{
      font-size: 18px;
    }
    .fsection-grid p {
      font-size: 13px;
    }
    .fsection h4 {
      font-size: 14px;
    }
    .fsection-grid {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 35px;
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .fsection button {
      width: 143px;
      font-size: 9px;
    }
    .fsection button:last-child {
      width: 100px;
      font-size: 9px;
    }
    .sec1 {
      margin-top: 50px;
    }
  }
  
  @media (min-width: 992px) {
  .hd-container, .hd-container-lg, .hd-container-md, .hd-container-sm 
    {
    max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
  .hd-container, .hd-container-lg, .hd-container-md, .hd-container-sm, .hd-container-xl
    {
    max-width: 1140px;
    }

  }
    
  @media (min-width: 1400px){ 
  .hd-container, .hd-container-lg, .hd-container-md, .hd-container-sm, .hd-container-xl, .hd-container-xxl
    {
    max-width: 1220px;
    }
  }



  /* ---------------------------- CYCLE KEYFRAMES ---------------------------- */

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}