/* Cores */

.bg-common {
  background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(43,16,88,1) 70%, rgba(38,2,83,0.7049194677871149) 100%);
 }
.bgg-common {
  background: transparent;
  width: 100%;
  height: 65px;
}
.bgg-white {
  background: white;
  width: 100%;
  height: 65px;
}
.text1{
  color: white;
  font-size: 40px;
}
.text2{
  color: black;
  font-size: 37px;
  
}
  
/* Header */
  
header {
  width: 100%;
  height: 70px;
  position: fixed;
  transition: all .25s ease;
  z-index: 99;
}
header h1 {
  padding-top: 15px;
  transition: all .25s ease;
  float: left;
}
#nvb {
  transition: all .25s ease;
  font-weight: 600;
  color: white;
  display: flex;
}
#btn-mobile {
  display: none;
  float: right;
  margin-right: 20px;
}
.btnnj {
  color: white;
  margin-top: 30px;
}
.btn-mobile {
  margin-top: 15px;
  color: black;
}
.navbarp {
  list-style-type: none;
  float: right;
  padding-top: 30px;
  text-align: center;
  margin: 0;
}
.navbar-d {
  list-style-type: none;
  float: right;
  padding-top: 23px;
  text-align: center;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li {
  padding-left: 40px;
}
.nvblack {
  color: black;
}

  
  
  /* LAYOUT E ESTRUTURA */
  body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;;
  }
  
  .pcontainer {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 35vw 45vw;
    grid-template-rows: auto;
    grid-template-areas: "main main";
    margin-left: 10vw;
    margin-right: 10vw;
    height: 100vh;
  }
  
  .grid-container div:last-of-type {
    align-self: center;
  }
  
  .sec1 {
    color: white;
    align-self: center;
    justify-self: center;
  }
  
  .sec1 p:first-child {
    font-size: 45px;
    font-weight: 700;
  }
  
  .sec1 p:nth-child(2) {
    font-size: 18px;
  }
  
  .sec1 button {
    background-color: transparent;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 40px;
    display: inline-block;
    font-size: 16px;
    transition: all .25s ease;
    border: 1px solid white;
    margin-top: 50px;
  }
  .sec1 a {
    text-decoration:none;
    color:white
  }
  
  
  /* MEDIA QUERIES RESPONSIVOS */
  
  @media (max-width: 768px) {
    .sec1 p:first-child {
      font-size: 20px;
    }
    .sec1 p:nth-child(2) {
      font-size: 13px;
    }
    .sec1 button {
      background-color: #ed3237ed;
      display: inline-block;
      font-size: 10px;
      transition: all .25s ease;
      border: none;
    }
    #nvb {
      background: rgba(43,16,88,1);
      visibility: hidden;
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0;
      padding-left: 0;
      padding-top: 0;
      z-index: 5000;
      height: 0px;
      overflow-y: hidden;
    }
    nav li {
      padding-left:0;
    }
    #nav.active #nvb{
      visibility: visible;
      height: 400px;
      transition: .6s;
    }
    #btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      transition: .6s;
    }
    #hmb {
      border-top: 2px solid;
      width: 20px;
      display: block;
      margin-top: 5px;
      margin-left: 10px;
    }
    #hmb::after, #hmb::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .3s;
      position: relative;
    }
    #nav.active #hmb {
      border-top-color: transparent;
    }
    #nav.active #hmb::before  {
      transform: rotate(135deg)
    }
    #nav.active #hmb::after  {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
  
  @media (min-width: 992px) {
  .pcontainer, .pcontainer-lg, .pcontainer-md, .pcontainer-sm 
    {
    max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
  .pcontainer, .pcontainer-lg, .pcontainer-md, .pcontainer-sm, .pcontainer-xl
    {
    max-width: 1140px;
    }
  }
    
  @media (min-width: 1400px){ 
  .pcontainer, .pcontainer-lg, .pcontainer-md, .pcontainer-sm, .pcontainer-xl, .pcontainer-xxl
    {
    max-width: 1220px;
    }
  }
  
  .principal{
    height: 100vh;
  }
  
  .secundario{
    height: 600px;
    background: linear-gradient(32deg, rgba(2,0,36,1) 0%, rgba(43,16,88,1) 70%, rgba(38,2,83,0.7049194677871149) 100%);
    color:white;
  }
  
  .secundario h4{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
  }
  .secundario svg {
    font-size:40px;
    margin-bottom:10px;
  }
  .secundario button {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color:#ed3237;
    width: 250px;
    height: 30px;
    border: solid white 1px;
    border-radius: 10px;
  }
  .secundario a {
    text-decoration:none;
    color:white;
  }
  .secundario-grid {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 150px 350px;
    grid-template-areas: "a a a"
                        "b c d";
    padding-top: 100px;
    margin-left: 15vw;
    margin-right: 15vw;
    column-gap: 85px;
  }
  
  .frase {
    justify-self: center;
    text-align: center;
    grid-area: a;
  }
  
  .terceiro{
    /*width: 100vw;*/
    height: 1500px;
    background-color: white;
  }
  
  .terceiro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 370px 370px 370px 370px 370px 50px;
    grid-template-areas: "a a"
                        "b c"
                        "d e"
                        "f g"
                        "h i"
                        "j k"
                        "l l";
    padding-top: 100px;
    margin-left: 15vw;
    margin-right: 15vw;
    color: black;
    column-gap: 15px;
    row-gap: 80px;
  }
  
  .terceiro span {
    color:gray;
    border-bottom:1px solid lightgray;
    padding-bottom:1px;
  }
  
  .terceiro svg {
    color: gray;
    margin-left: 5px;
  }
  
  .textcontent {
    align-self: center;
  }
  .lastfrase {
    justify-self: center;
    text-align: center;
    grid-area: l;
  }